/* Custom styles for gallery page */
:root {
    /* font colors */
    --text-color_white: #fff;
    --text-color0: #999;
    --text-color1: #777;
    --text-color2: #555;
    --text-color3: #333;
    --text-color4: #111;
    --text-color_default: #aa80ff;
    --text-color_ok: #66cc99;
    --text-color_warning: #cc6699;
    --text-color_info: #538cc6;

    /* bg = background color */ 
    --bg-color0: #888;
    --bg-color1: #777;
    --bg-color2: #555;
    --bg-color3: #333;
    --bg-color4: #111;
    --bg-color_default: #bb99ff;
    --bg-color_ok: #8cd9b3;
    --bg-color_warning: #d98cb3;
    --bg-color_info: #8cb3d9;
    --bg-color_hover: #1a6cbe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 19px;
}

.h_cntr {
    padding: 4em;
    position: sticky;
}



#navbarNav li a:hover  {
background-color: var(--bg-color_hover);
color: var(--text-color_white);
border-radius: 5px;
}



.gallery-thumbnail img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}
.gallery-thumbnail img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
.article {
    background: var(--bg-color_info);
    color: var(--text-color4);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.image-container {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.image-container {
    /* existing rules */
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.image-container:hover {
    transform: scale(1.05);
}

.page_nav li {

    list-style-type: none;
}

.page_nav li a:hover {
    background-color: #1a6cbe;
}

/*https://drive.google.com/file/d/1vxUHMPBkExlG3W1l6yWXS3ceB_jNJpYv/view?usp=drive_link

1vxUHMPBkExlG3W1l6yWXS3ceB_jNJpYv

https://drive.google.com/uc?export=view&id=1vxUHMPBkExlG3W1l6yWXS3ceB_jNJpYv


*/
